* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "sans-sarif";
}

.container {
  max-width: 1440px;
  max-height: 1024px;
  display: flex;
}

.left {
  background-color: #384949;
  width: 30%;
  height: 1024px;
  padding: 20px 65px;
  font-size: 20px;
  line-height: 20px;
}

.left-top {
  width: 243px;
  height: 111px;
  background-image: url(./images/logo-transparent.png);
  background-size: fit;
  background-repeat: none;
}

.left-middle {
  margin-top: 100px;
  margin-bottom: 500px;
}

.left-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left-link {
  text-decoration: none;
  color: white;
}

.left-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

select {
  background-color: #384949;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
}

.left-settings {
  display: flex;
  gap: 10px;
}

.right {
  background-color: #fff;
  width: 70%;
  height: 1024px;
  display: flex;
  flex-direction: column;
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #c5e6e8;
}

.search {
  position: relative;
}

.label-icon {
  position: absolute;
  top: 4px;
  left: 5px;
}
.search-input {
  padding: 5px 30px;
  font-size: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.help {
  display: flex;
  gap: 20px;
}
.question {
  height: 60px;
  width: 60px;
  background-image: url(./images/mdi-light_help-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.user {
  height: 60px;
  width: 60px;
  background-image: url(./images/Group-73.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.right-body {
  padding: 30px;
}

.right-body-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-survey {
  font-size: 28px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn button {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #a8dadc;
  border: 1px solid black;
  border-radius: 5px;
}
#cus-feed {
  margin-top: 20px;
  padding: 10px 20px;
  width: 300px;
  font-size: 24px;
  background-color: #a8dadc;
  color: black;
  border-radius: 5px;
}
.right-body-bottom {
  margin: 30px 0px;
}
.right-body-bottom h3 {
  font-size: 20px;
  font-weight: 400;
}

.feedback-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.feedback-wrapper1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 45%;
}

.feedback-wrapper1 p {
  max-width: 80%;
}

.feedback-wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 45%;
}

.feedback-wrapper2 p {
  max-width: 80%;
}

.wrap-img1 {
  width: 100%;
  height: 370px;
  background-image: url(./images/Group_85.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.wrap-img2 {
  width: 100%;
  height: 370px;
  background-image: url(./images/Group_86.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.car-next {
  align-self: center;
}
