* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "sans-sarif";
  }
  
  .container {
    max-width: 1440px;
    max-height: 1024px;
    display: flex;
  }

  .left {
    background-color: #384949;
    width: 30%;
    height: 1024px;
    padding: 20px 65px;
    font-size: 20px;
    line-height: 20px;
  }
  
  .left-top {
    width: 243px;
    height: 111px;
    background-image: url(./images/logo-transparent.png);
    background-size: fit;
    background-repeat: none;
  }
  
  .left-middle {
    margin-top: 100px;
    margin-bottom: 500px;
  }
  
  .left-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .left-link {
    text-decoration: none;
    color: white;
  }  
  
  .right {
    background-color: #fff;
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
  }
  
  .right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #c5e6e8;
  }

  .right-body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: scroll;
  }
  
  .right-body::-webkit-scrollbar {
    display: none;
}

.right-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

  .right-body-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }
  
  .right-body-right {
    flex: 1;
    padding: 0px 0px 0px 70px;
  }
  
  .home {
    display: block;
    font-size: 24px;
    line-height: 15px;
    font-weight: bold;
    background-color: #c5e6e8;
    color: black;
    padding: 15px 15px;
    max-width: 90px;
    margin: 20px 0px;
    text-decoration: none;
    border-radius: 10px;
  }

  .copy_btn {
    display: block;
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
    background-color: #c5e6e8;
    color: black;
    padding: 8px 15px;
    max-width: 250px;
    margin: 20px 0px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .type-surveybox {
    display: flex;
    flex-direction: column;
    width: 434px;
    height: 360px;
    background-color: #c5e6e8;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
  }
  .type-surveybox input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #c5e6e8;
    width: 100%;
    margin-bottom: 150px;
  }
  
  .textarea {
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #c5e6e8;
    resize: none;
  }
  
  .textarea::placeholder {
    font-weight: bold;
    font-size: 26px;
    color: black;
  }
  
  .type-surveybox button {
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: #384949;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
