@media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

.textarea_reply {
    width: 60%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.textarea_email {
    width: 60%;
  height: 30px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.container {
width: auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding-right: 0.75rem;
margin-right: auto;
}


.containera {

  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

}


@media(min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 1320px
    }
}


.left {
background-color: #384949;
height: auto;
padding: 20px 65px;
font-size: 20px;
line-height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-top {
width: 243px;
height: 111px;
background-image: url(./images/logo.jpg);
background-size: fit;
background-repeat: no-repeat;
}

.left-middle {
margin-top: 100px;
margin-bottom: 500px;
}

.left-links {
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
flex-direction: column;
gap: 40px;
}

.left-link {
text-decoration: none;
color: white;
}

.left-bottom {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
flex-direction: column;
gap: 20px;
font-size: 20px;
line-height: 20px;
color: white;
}

select {
background-color: #384949;
outline: none;
border: none;
color: white;
font-size: 20px;
}

.left-settings {
display: flex;
gap: 10px;
}

.right {
background-color: #fff;
width: 100vw;
height: auto;
display: flex;
flex-direction: column;
}


.right-header {
  background: #c5e6e8; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
justify-content: space-between;
  color: white;
  padding: 30px 20px;
  position: below;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
}



.help {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
gap: 20px;
}


.question {
height: 60px;
width: 60px;
background-image: url(./images/mdi-light_help-circle.png);
background-size: 100%;
background-repeat: no-repeat;
}

.imgq {  
max-width: 100%;  
height: 70%;  
}   


.user {
height: 60px;
width: 60px;
background-image: url(./images/Group-73.png);
background-size: 100%;
background-repeat: no-repeat;
}

.right-body {
padding: 30px;
}

.right-body-top {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 20px;
}

.new-survey {
font-size: 28px;
}


.right-body-bottom {
margin: 30px 0px;
  width: 100%;
  height: 750px;
  padding: 10px;
  border: 1px solid #c5e6e8;
}


.right-body-bottom h3 {
font-size: 20px;
font-weight: 400;
}

.header {
  text-align: center;
}



/* Navigation Class Style */

/* Set container parameters */

.containernav { 

  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right:auto;
  margin-left:auto;

}

.bg_lightd {
  background-color: rgb(248, 249, 250)
}

/* Add a black background color to the top navigation */

/* .topnav {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 2px;
      padding-bottom: 2px;
} */


.topnavd{
  display: flex;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}



/* .logo {
  width: 200px;
  height: 80px;
  border-radius: 5px;
} */





/* Other Styles  */







/* .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x))
} */




/* .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%
} */



/* .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important
} */


.justify-content-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important
}


/* .img-fluid {
    max-width: 100%;
    height: auto
} */



.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}



.navbar>.containera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}



@media(min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
            flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }

    .navbar-expand-lg .offcanvas-header {
        display: none
    }

    .navbar-expand-lg .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        visibility: visible !important;
        background-color: rgba(0, 0, 0, 0);
        border-right: 0;
        border-left: 0;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: none;
                transform: none
    }

    .navbar-expand-lg .offcanvas-top,
    .navbar-expand-lg .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0
    }

    .navbar-expand-lg .offcanvas-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}



.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9)
}




.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff
}


.nav-fill>.nav-link,
.nav-fill .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center
}


.nav-justified>.nav-link,
.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%
}



.nav-link:hover,
.nav-link:focus {
    color: #00ccb7
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate
}

/* .fw-bold {
    font-weight: 700 !important
} */



.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    -webkit-transition: -webkit-box-shadow .15s ease-in-out;
    transition: -webkit-box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .navbar-toggler {
        -webkit-transition: none;
        transition: none
    }
}

.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .25rem;
            box-shadow: 0 0 0 .25rem
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}





/* Everything from index page */
/* Add a light background color to the header */
.bg_light {
  background-color: rgb(248, 249, 250)
}


/* Add a black background color to the top navigation */
.topnav {
  position: relative;
    display: flex;
  
      flex-wrap: wrap;
  
          align-items: center;
  
          justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* .topnav navigation {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
} */




/* Style the links inside the navigation bar */
.topnav a {

  color: #0e0202;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(196, 236, 20);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #cce4db;
  color: white;
}

/* backgroung colour after div */
.h1 a.h1 {
  background-color: aquamarine;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


/* footer */
.footer {
  background: #c5e6e8; 
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* color: white; */
  padding: 30px 20px;
  position: below
    /*absolute*/
  ;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
}


.section-1 {

  padding-top: 1.5rem
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.w2s-icon {
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.footer .icon {
  width: 50px;
  height: 50px;
}