<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css">
    <title>login</title>
  </head>
  <body>
    <header>
        <div class="container">
        <img src="./Frontend/Walrusw2-img/TwalrusW2logo.svg" alt="TwalrusW2logo"/>
    </div>
    </header>
    <section>
      <div class="container">
      <div class="main-body">

        <a href="/">Home</a>  
        <div class="loginform">
            <h1>Sign Up</h1>
            {% if not request.user.is_authenticated %}
            <div style="margin-top:30px;">
                <form method="POST">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <p>Forgot password?</p>
                    <button class="btn" type="submit">Sign Up</button>
                </form>
            </div>

            <p>Already have an accouunt? <a href="/login">Sign in</a></p>

            {% else %}
            <p>Your're already logged in and cannot register. Would you like to <a href="/logout/">logout?</a></p>
            {% endif %}
          </div>

        <div class="content">
          <img src="Walrusw2-img/Login2.svg" alt="image" />
        </div>
      </div>
</div>
    </section>
  </body>
</html>