{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'create_survey_view.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'success.css' %}" rel="stylesheet" type="text/css">
        <title>Create survey</title>
    </head>

    <body>
        {% if not created %}
        <img src="{% static 'images/w2s.jpg' %}" alt="w2s" class="w2s-icon">
        <div class="container">
            <h1 style="text-align: center;">Create Survey</h1>  
            <div>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div style="margin: 50px 0 20px 50px;">
                        <input class="textarea_title" type="text" name="title" placeholder="Title" required/>
                    </div>
                    <pre>
        write survey in this format:
        1) ...
        2) ...
        3) ... 
        nb: replies will also be in this format
                    </pre>
                    <div style="margin: 20px 50px;">
                        <textarea class="textarea_survey" name="questionnaire" placeholder="Questions" required></textarea>
                    </div>
                    <button class="create_btn" style="margin: 20px 0 20px 50px;" type="submit">Create</button>
                </form>
            </div>
        </div>
        {% else %}
        <img src="{% static 'images/w2s.jpg' %}" alt="w2s" class="w2s-icon">
        <div class="container">
            <div class="heading">
               <div>
                <i class="fa-solid fa-house"></i>
                 <a href="/dashboard">Home</a>
               </div>
               <div class="create-survey">
                  <a href="/create_questionnaire">Create a new Survey</a>
                </div>
             </div>
             <div class="body">
             <div class="img">
                 <img src="{% static 'images/successful.jpeg' %}" alt="sucessful">
              </div>
              <div class="text">
                 <p>Survey Creation</p>
                 <h1>SUCESSFUL!</h1>
                 <i class="fa-regular fa-circle-check icon"></i><br>
                 <button class="btn" onclick="navigator.clipboard.writeText('{{ url }}/reply_survey/{{object.id}}/'), alert('link copied')">Share <i class="fa-solid fa-share-nodes"></i></button>
             </div>
             </div>
        </div>
        {% endif %}
    </body>
</html>
