{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/reply_view.css?{% now 'U' %}" rel="stylesheet" type="text/css">
        <title>{{ questionnaire_obj.title }}</title>
    </head>

    <body>
        <img src="{% static 'images/w2s.jpg' %}" alt="w2s" class="w2s-icon">
        {% if not replied %}
        <div class="container">
            <h1 style="text-align: center;">{{ questionnaire_obj.title }}</h1>
            <pre style="margin: 20px 50px;">{{ questionnaire_obj.questionnaire }}</pre>
            <div>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div style="margin: 20px 50px;">
                        <textarea class="textarea_reply" name="reply" placeholder="reply here" required></textarea>
                    </div>
                    <p style="margin: 20px 50px;">Please, reply in the same format as the surevy to help in organisation</p>
                    <div style="margin: 20px 0 30px 50px;">
                        <input class="textarea_email" type="text" name="email" placeholder="email" required/>
                    </div>
                    <button class="reply_btn" style="margin: 20px 0 20px 50px;" type="submit">Reply</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="heading">
                <div>
                <i class="fa-solid fa-house"></i>
                </div>
                </div>
                <div class="body">
                <div class="img">
                    <img src="{% static 'images/successful.jpeg' %}" alt="sucessful">
                </div>
                <div class="text">
                    <p>Survey reply</p>
                    <h1>SUCESSFUL!</h1>
                    <i class="fa-regular fa-circle-check icon"></i><br>
                </div>
                </div>
        </div>
        {% endif %}

        <footer>
            <div class="footer">
                <div class="section-1">
                    <p>"Feedback to insight"</p>
                </div>
                <div class="section-2">
                    <div class="icons">
                        <img src="{% static 'images/IG.jpg' %}" alt="Instragram" class="icon">
                        <img src="{% static 'images/facebook.jpg' %}" alt="facebook icon" class="icon">
                        <img src="{% static 'images/twitter.jpg' %}" alt="twitter icon" class="icon">
                        <img src="{% static 'images/tiktok.jpg' %}" alt="tiktok icon" class="icon">
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>